* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  direction: rtl;
}

header {
  background: transparent linear-gradient(91deg, #082740 0%, #2276a7 63%, #2c96d1 100%) 0% 0% no-repeat padding-box;
  height: 100px;
  padding: 20px;
  width: 100%;
  color: #fff;
  border-bottom: 3px solid #eec65a;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .logo img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}
header nav .logo h5 {
  display: inline-block;
  padding: 10px;
  padding-bottom: 12px;
  font-size: 13px;
  margin-right: 2px;
  border-right: 2px solid #fff;
}
header nav .list {
  display: flex;
  align-items: center;
}
header nav .list ul {
  margin-bottom: 0;
}
header nav .list ul li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
  font-size: 14px;
}
header nav .list ul li p {
  display: none;
  margin: 0;
}
header nav .list ul li .card {
  background: #eec65a;
  padding: 10px 0px;
  margin-top: 10px;
}
header nav .list ul li .card a {
  color: #fff;
  display: block;
  padding-bottom: 7px;
  border-bottom: 1px solid #adaaaa;
  margin: 0px 15px 10px;
}
header nav .list ul li .card a:last-child {
  border: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
header nav .list ul li a {
  text-decoration: none;
  color: #fff;
}
header nav .list ul li .dropdown .dropdown-menu {
  min-width: 100%;
  background-color: #2276a7;
}
header nav .list ul li .dropdown .dropdown-menu .dropdown-item {
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 0.25rem 0.1rem;
}
header nav .list ul li .dropdown .dropdown-menu .dropdown-item:hover {
  color: #2276a7 !important;
}
header nav .toggel-nav {
  display: none;
}
header nav .toggel-nav label {
  margin-top: 15px;
}
header nav .toggel-nav label div {
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background: #eee;
  transition: 0.5s;
}

/*
    ---- media query for header----
*/
@media (max-width: 880px) {
  header nav .list {
    position: fixed;
    top: 100px;
    right: -70%;
    bottom: 0;
    overflow: auto;
    text-align: center;
    width: 70%;
    transition: 1s all;
    z-index: 999;
    background: linear-gradient(91deg, #082740 0%, #2276a7 63%, #2c96d1 100%);
  }
  header nav .list ul {
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    transition: 1s all;
    min-height: 100%;
    padding: 20px 0px;
    display: flex;
    overflow: auto;
  }
  header nav .list ul li .dropdown {
    display: none;
  }
  header nav .list ul li p {
    display: block;
  }
  header nav .toggel-nav {
    display: block;
  }
  header nav :checked ~ .list {
    display: block;
    right: 0;
  }
  header nav :checked ~ .toggel-nav label div:first-child {
    transform: translateY(5px) rotate(225deg);
  }
  header nav :checked ~ .toggel-nav label div:nth-child(2) {
    display: none;
  }
  header nav :checked ~ .toggel-nav label div:nth-child(3) {
    transform: translateY(-5px) rotate(-225deg);
  }
}
@media (max-width: 575px) {
  header nav .logo h5 {
    margin-right: 5px;
    padding: 5;
    font-size: 10px;
  }
  header nav .list {
    width: 100%;
    right: -100%;
  }
}
.team-events-page .closing-ceremony .overlay, .team-events-page .our-educational-courses .overlay, .team-events-page .opening-ceremony .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  opacity: 0.8;
  background-color: #21669fb3;
}

.team-events-page .closing-ceremony::before, .team-events-page .our-educational-courses::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  z-index: 1;
  background-color: #eec65a;
}

.about-projects, .about-visitors, .architectural-show-competition, .programming-competition, .sapiq-and-lahiq-competition {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 20%;
  text-align: center;
}

.about-projects img, .about-visitors img, .architectural-show-competition img, .programming-competition img, .sapiq-and-lahiq-competition img {
  border-radius: 20px;
  width: 100%;
  height: 220px;
}

.about-projects .title, .about-visitors .title, .architectural-show-competition .competition-name, .programming-competition .competition-name, .sapiq-and-lahiq-competition .competition-name {
  margin-top: 10px;
  color: white;
  font-size: 18px;
}

.ceremony-image {
  position: absolute;
  top: 170px;
  left: 8%;
  z-index: 1;
  width: 35%;
  height: 350px;
  overflow: hidden;
}
.ceremony-image img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.courses-image {
  position: absolute;
  top: 170px;
  left: 55%;
  z-index: 1;
  width: 35%;
  height: 350px;
  overflow: hidden;
}
.courses-image img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.closing-image {
  position: absolute;
  top: 170px;
  left: 8%;
  z-index: 1;
  width: 35%;
  height: 350px;
  overflow: hidden;
}
.closing-image img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.about-ceremony {
  overflow: hidden;
  margin-left: 50%;
  margin-right: 10%;
  padding-top: 200px;
  text-align: right;
  position: relative;
  z-index: 1;
}

.ceremony {
  width: 26%;
  color: white;
  font-size: 22px;
  border-radius: 10px;
  padding: 0px 5px 5px;
  background-color: #eec65a;
  overflow: hidden;
}

.ceremony-details {
  color: white;
  line-height: 1.8;
  font-size: 18px;
  margin-top: 20px;
  overflow: hidden;
}
.ceremony-details a {
  color: #eec65a;
  text-decoration: none;
}

.about-courses {
  overflow: hidden;
  margin-left: 5%;
  margin-right: 55%;
  padding-top: 260px;
  text-align: right;
  position: relative;
  z-index: 1;
}

.courses {
  width: 35.5%;
  color: white;
  font-size: 22px;
  border-radius: 10px;
  padding: 0px 5px 5px;
  background-color: #eec65a;
  overflow: hidden;
}

.courses-details {
  color: white;
  line-height: 1.8;
  font-size: 18px;
  margin-top: 20px;
  overflow: hidden;
}
.courses-details a {
  color: #eec65a;
  text-decoration: none;
}

.about-closing {
  overflow: hidden;
  margin-left: 50%;
  margin-right: 10%;
  padding-top: 200px;
  text-align: right;
  position: relative;
  z-index: 1;
}

.closing {
  width: 52%;
  color: white;
  font-size: 22px;
  border-radius: 10px;
  padding: 0px 5px 5px;
  background-color: #eec65a;
  overflow: hidden;
}

.closing-details {
  color: white;
  line-height: 1.8;
  font-size: 18px;
  margin-top: 20px;
  overflow: hidden;
}
.closing-details a {
  color: #eec65a;
  text-decoration: none;
}

.sapiq-and-lahiq-competition {
  left: 8%;
  margin: 150px 0px;
}
.programming-competition {
  left: 39%;
  margin: 150px 0px;
}
.architectural-show-competition {
  left: 70%;
  margin: 150px 0px;
}
.about-visitors {
  left: 22%;
  margin-top: 450px;
}
.about-projects {
  left: 58%;
  margin-top: 450px;
}
.team-events-page .opening-ceremony {
  width: 100%;
  height: 650px;
  position: relative;
  background: url(../images/opening-ceremony.jpeg) no-repeat;
  background-size: 100% 100%;
}
.team-events-page .our-educational-courses {
  width: 100%;
  height: 700px;
  position: relative;
  background: url(../images/our-educational-courses.jpeg) no-repeat;
  background-size: 100% 100%;
}
.team-events-page .closing-ceremony {
  width: 100%;
  height: 1300px;
  position: relative;
  background: url(../images/closing-ceremony.jpeg) no-repeat;
  background-size: 100% 100%;
}
.team-events-page .closing-ceremony .competitions-examples {
  padding: 20px 2%;
}
@media (max-width: 767px) {
  .team-events-page .opening-ceremony {
    width: 100%;
    height: 500px;
    position: relative;
    background: url(../images/opening-ceremony.jpeg) no-repeat;
    background-size: 100% 100%;
  }
  .team-events-page .our-educational-courses {
    width: 100%;
    height: 500px;
    position: relative;
    background: url(../images/our-educational-courses.jpeg) no-repeat;
    background-size: 100% 100%;
  }
  .team-events-page .closing-ceremony {
    width: 100%;
    height: 1700px;
    position: relative;
    background: url(../images/closing-ceremony.jpeg) no-repeat;
    background-size: 100% 100%;
  }
  .team-events-page .ceremony-image {
    display: none;
  }
  .team-events-page .about-ceremony {
    top: -80px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    text-align: center;
    width: 80%;
    display: block;
  }
  .team-events-page .ceremony {
    width: 100px;
    font-size: 18px;
  }
  .team-events-page .ceremony-details {
    font-size: 16px;
  }
  .team-events-page .courses-image {
    display: none;
  }
  .team-events-page .about-courses {
    top: -80px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    text-align: center;
    width: 80%;
    display: block;
  }
  .team-events-page .courses {
    width: 140px;
    font-size: 18px;
  }
  .team-events-page .courses-details {
    font-size: 16px;
  }
  .team-events-page .closing-image {
    display: none;
  }
  .team-events-page .about-closing {
    top: -80px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    text-align: center;
    width: 80%;
    display: block;
  }
  .team-events-page .closing {
    width: 200px;
    font-size: 18px;
  }
  .team-events-page .closing-details {
    font-size: 16px;
  }
  .team-events-page .competitions-examples .sapiq-and-lahiq-competition,
.team-events-page .competitions-examples .about-sapiq-and-lahiq {
    overflow: hidden;
    position: absolute;
    left: 20%;
    top: 200px;
    z-index: 1;
    width: 60%;
    text-align: center;
    display: block;
  }
  .team-events-page .competitions-examples .sapiq-and-lahiq-competition img,
.team-events-page .competitions-examples .about-sapiq-and-lahiq img {
    text-align: center;
    width: 100% !important;
    height: 180px;
  }
  .team-events-page .competitions-examples .programming-competition,
.team-events-page .competitions-examples .about-programming {
    overflow: hidden;
    position: absolute;
    left: 20%;
    top: 470px;
    z-index: 1;
    width: 60%;
    text-align: center;
    display: block;
  }
  .team-events-page .competitions-examples .programming-competition img,
.team-events-page .competitions-examples .about-programming img {
    text-align: center;
    width: 100% !important;
    height: 180px;
  }
  .team-events-page .competitions-examples .architectural-show-competition,
.team-events-page .competitions-examples .about-architectural-show {
    overflow: hidden;
    position: absolute;
    left: 20%;
    top: 740px;
    z-index: 1;
    width: 60%;
    text-align: center;
    display: block;
  }
  .team-events-page .competitions-examples .architectural-show-competition img,
.team-events-page .competitions-examples .about-architectural-show img {
    text-align: center;
    width: 100% !important;
    height: 180px;
  }
  .team-events-page .competitions-examples .visitors-competition,
.team-events-page .competitions-examples .about-visitors {
    overflow: hidden;
    position: absolute;
    left: 20%;
    top: 720px;
    z-index: 1;
    width: 60%;
    text-align: center;
    display: block;
  }
  .team-events-page .competitions-examples .visitors-competition img,
.team-events-page .competitions-examples .about-visitors img {
    text-align: center;
    width: 100% !important;
    height: 180px;
  }
  .team-events-page .competitions-examples .projects-competition,
.team-events-page .competitions-examples .about-projects {
    overflow: hidden;
    position: absolute;
    left: 20%;
    top: 990px;
    z-index: 1;
    width: 60%;
    text-align: center;
    display: block;
  }
  .team-events-page .competitions-examples .projects-competition img,
.team-events-page .competitions-examples .about-projects img {
    text-align: center;
    width: 100% !important;
    height: 180px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .team-events-page .ceremony-image {
    height: 270px;
  }
  .team-events-page .about-ceremony {
    top: -30px;
    overflow: hidden;
    display: block;
  }
  .team-events-page .ceremony {
    width: 108px;
    font-size: 20px;
  }
  .team-events-page .ceremony-details {
    font-size: 17px;
  }
  .team-events-page .courses-image {
    height: 270px;
  }
  .team-events-page .about-courses {
    top: -30px;
    overflow: hidden;
    display: block;
  }
  .team-events-page .courses {
    width: 150px;
    font-size: 20px;
  }
  .team-events-page .courses-details {
    font-size: 17px;
  }
  .team-events-page .closing-image {
    height: 270px;
  }
  .team-events-page .about-closing {
    top: -30px;
    overflow: hidden;
    display: block;
  }
  .team-events-page .closing {
    width: 210px;
    font-size: 20px;
  }
  .team-events-page .closing-details {
    font-size: 17px;
  }
  .team-events-page .competitions-examples {
    margin-top: -60px;
  }
  .team-events-page .competitions-examples img {
    height: 150px;
  }
}
@media (min-width: 993px) {
  .team-events-page .ceremony {
    width: 120px;
    margin-top: -24px;
  }
  .team-events-page .courses {
    width: 164px;
    margin-top: -24px;
  }
  .team-events-page .closing {
    width: 230px;
    margin-top: -24px;
  }
  .team-events-page .competitions-examples {
    margin-top: 80px;
  }
}

/* end page content style*/
/* footer */
.footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  position: relative;
  text-align: center;
  background: transparent linear-gradient(270deg, #082740 0%, #2276a7 100%, #2c96d1 100%) 0% 0% no-repeat padding-box;
}
.footer .social-media ul li {
  margin-top: 10px;
  border-radius: 50%;
  border: 2px solid #ddd;
  width: 26px;
  height: 26px;
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
.footer .social-media ul li a {
  text-decoration: none;
  position: relative;
  bottom: 1.8px;
}
.footer .social-media ul li a i {
  font-size: 12px;
  color: #ddd;
}
.footer p {
  font-size: 14px;
  color: #ddd;
}
.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #eec65a;
}

@media (max-width: 767px) {
  .footer {
    height: 50px;
  }
  .footer p {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer {
    height: 60px;
  }
  .footer .social-media {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
  }
  .footer .social-media i {
    font-size: 10px;
    color: #ddd;
  }
  .footer p {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
  }
}
@media (min-width: 993px) {
  .footer {
    height: 80px;
  }
  .footer li {
    margin-left: 10px;
  }
  .footer li i {
    font-size: 12px;
  }
  .footer p {
    margin-top: 7px;
  }
}

/*# sourceMappingURL=style.css.map */
